@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@300;400;700&display=swap');

body {
    margin: 0;
    background: red;
    color: white;
    font-family: Inter, Arial, sans-serif;
}


/* HEADER */

header {
    text-align: center;
    padding: 50px 20px 30px;
}


h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: clamp(45px, 8vw, 90px);
    line-height: 0.9;
    letter-spacing: -3px;
    margin: 0;

    text-transform: uppercase;

    background: linear-gradient(
        90deg,
        #ff006e,
        #ffbe0b,
        #00f5d4,
        #8338ec,
        #ff006e
    );

    background-size: 400% 400%;

    -webkit-background-clip: text;
    color: transparent;

    animation: colorMove 5s ease infinite;
}


@keyframes colorMove {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}



header h2 {
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-top: 25px;
}



header img {

    margin-top: 35px;

    width: 200px;
    height: 200px;

    object-fit: cover;

}



/* INHALT */

main {

    max-width: 750px;

    margin: auto;

    padding: 10px 30px;

}


h3 {

    font-family: "Archivo Black", sans-serif;

    font-size: 28px;

    letter-spacing: 1px;

    margin-top: 60px;

    margin-bottom: 30px;

}



article {

    margin-bottom: 40px;

}

.project {

    padding-bottom: 25px;

    margin-bottom: 25px;

    border-bottom: 1px solid #333;

}


.project h4 {

    font-family: "Archivo Black", sans-serif;

    font-size: 32px;

    margin: 0 0 8px 0;

}


.info {

    font-size: 13px;

    letter-spacing: 3px;

    color: #00f5d4;

    margin-bottom: 20px;

}


.details {

    display: flex;

    gap: 20px;

    font-size: 15px;

    margin-bottom: 5px;

    color: #ccc;

}


.details span {

    width: 90px;

    font-size: 11px;

    letter-spacing: 2px;

    color: #ff006e;

    font-weight: bold;

}

h4 {

    font-size: 22px;

    margin-bottom: 5px;

}



p {

    font-size: 16px;

    line-height: 1.5;

}

/* MOBILE */

@media(max-width:600px){

    h1 {
        font-size: 45px;
    }

    header img {
        width:170px;
        height:170px;
    }

}
.mail {

    color: white;

    text-decoration: underline;

    font-size: 18px;

    letter-spacing: 2px;

}

.mail:hover {

    color: #00f5d4;

}
