h1 {

    font-family: "Archivo Black", sans-serif;

    font-size: clamp(45px, 8vw, 90px);

    line-height: 0.9;

    letter-spacing: -3px;

    margin: 0;

    text-transform: uppercase;


    background: linear-gradient(
        90deg,
        #ff006e,
        #ffbe0b,
        #00f5d4,
        #8338ec,
        #ff006e
    );

    background-size: 400% 400%;

    -webkit-background-clip: text;

    color: transparent;


    animation: colorMove 5s ease infinite;

}
